.newsfeed-title {
  width: 700px;
}

.xsmall {
  font-size: 15px;
  line-height: 17px;
}

.small {
  font-size: 20px;
  line-height: 23px;
}

.medium {
  font-size: 30px;
  line-height: 30px;
}

.large {
  font-size: 65px;
  line-height: 65px;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
}
.newsfeed-title1 {
  src: url("https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap");
  font-family: "Do Hyeon", sans-serif;
}

@font-face1 {
  font-family: "Nanum Gothic", "sans-serif";
  src: url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap");
}
